
.display_none {
  display: none;
}

.inline {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
}

.no_repeat {
  background-repeat: no-repeat;
  background-position: center;
}

.flat {
  box-sizing: border-box;
  box-shadow: none;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.dashed {
  border: 1px dashed #c9c9c9;
  border-radius: 5px;
  padding: 5px;
}

.date_entry {
  width: 100px;
  background-color: #b19eff;
}

.img_input_holder_empty {
  border: 1px dashed #b8a247;
  background-color: #dbdbdb;
  background-image: url(img/ic_photo_library_black_48dp.png);
}

.img_input_holder {
  .no_repeat;
  .inline;
  width: 128px;
  height: 128px;
  background-size: contain;
  label {
    .no_repeat;
    .inline;
    width: 99.9%;
    height: 99.9%;
    background-size: contain;
  }
  img {

  }
  div {

  }
}
